@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --main-bg:#090b1a;
    --card-bg: #1b1938;
    --accent: #aa5cdb;

    --white: #ffffff;
    --main-text: hsla(0, 0%, 100%, 0.75);
    --main-stat: hsla(0, 0%, 100%, 0.6);

    --text: .95rem;

    --weight-lg: 700;
    --weight-sm: 400;

    --inter: 'Inter', sans-serif;;
    --lexend: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: var(--inter);
    font-weight: var(--weight-lg);
    font-size: 2rem;
    color: var(--white);
}

.text {
    font-family: var(--lexend);
    font-size: var(--text);
    font-weight: var(--weight-sm);
    color: var(--main-text);
}

.sm { font-weight: var(--weight-sm); }
.highlight { color: var(--accent); }

.stat-title {
    font-size: 1.5rem;
    font-family: var(--inter);
    font-weight: var(--weight-lg);
    color: var(--white);
}

.img-sm { display: block; }
.img-lg { display: none; }

main {
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg);

    position: relative;
}

.container {
    max-width: 1152px;
    width: 80%;
    height: 400px;
    max-height: 90vh;

    display: flex;
    justify-content: space-between;
    background-color: var(--card-bg);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > * {
    max-width: 550px;
    width: auto;
}

.main-text {
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.main-img { position: relative; }

.container .main-img  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headings{
    display: grid;
    gap: 1rem;
}

.stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.main-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: hsla(244, 38%, 16%, .6);
}

@media (max-width: 1000px) { 
    .main-text { justify-content: space-evenly;}
    .title { font-size: 1.8rem; }
}
@media (max-width: 900px) { .main-text { padding: 2rem; } }

@media (max-width: 500px) {
    main { 
        text-align: center;
        position: static;
    }
    .title { font-size: 1.5rem; }
    .container { 
        flex-direction: column-reverse;
        width: 90%;
        height: 100%;
    }
    .stats { 
        flex-direction: column;
        gap: 2rem;
    }
}